<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/feather/feather.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../images/logo.svg" alt="logo">
              </div>
              <h5>현재 근무중 :
                <% datas.forEach(function(data) { %>
                  <%= data.employee_name %>
                    <% }) %>
              </h5>
              <h5 class="font-weight-light">현재 시간 : <% var d=new Date() %>
                  <%= d.getFullYear() %>년
                    <%= ('0' + (d.getMonth()+1)).slice(-2) %>월
                      <%= ('0' + d.getDate()).slice(-2) %>일
                        <%= ('0' + d.getHours()).slice(-2) %>:
                          <%= ('0' + d.getMinutes()).slice(-2) %>:
                            <%= ('0' + d.getSeconds()).slice(-2) %>
              </h5>
              <%if(typeof err !=="undefined" ){%>
                <h5 style="color:red;">
                  <%= err %>
                </h5>
                <%}else{%>
                  <br>
                  <%}%>
                    <form class="forms-sample3" method="post" action="/login/out">
                      <div class="form-group">
                        <input type="text" class="form-control" name="_id" placeholder="ID를 입력하세요">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">퇴근하기</button>
                    </form>
                    <button class="btn btn-light" style="margin: 0;position: absolute;bottom: 12%;right: 10%;"
                      onclick="location.href='/main'">뒤로</button>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>