<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>5성매장관리</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="/"><img src="images/logo.svg" class="mr-2"
            alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="/"><img src="images/logo-mini.svg" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
          
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <%- include('sidebar.html') %>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">매출관리</h3>
                </div>
              </div>
            </div>
          </div>
<!--여기부터-->
          <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
              <div class="template-demo">
                <button type="button" class="btn btn-secondary" onclick="location.href='/salespage'">통계 조회</button>
                <button type="button" class="btn btn-primary" onclick="location.href='/salespage/jumun'">주문 조회</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-0">월별 통계 내역</p>
                  <div class="table-responsive">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th class="pl-0  pb-2 border-bottom">종류</th>
                          <th class="border-bottom pb-2">금액</th>
                        </tr>
                      </thead>
                      <% var howmonth = 4; %>
                      <% var month_price = []; %>
                      <% for(var i = 0; i<howmonth; i++) { month_price[i] = 0; } %>
                      <% datas.forEach(function(data) { %>
                        <% month_price[data.order_time.getMonth()-new Date().getMonth()] += data.order_price; %>
                      <% }) %>
                      <tbody>
                        <% for(var i = 0; i<howmonth; i++) { %>
                        <tr>
                          <td class="pl-0"><%= new Date().getFullYear() %>년 <%= new Date().getMonth() + 1 - i %>월</td>
                          <td class="text-muted"><%= month_price[i] %></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">월별 통계 그래프</p>
                  <div class="charts-data">

                    <% for(var i = 0; i<howmonth; i++) { %>
                    <div class="mt-3">
                      <p class="mb-0"><%= new Date().getFullYear() %>년 <%= new Date().getMonth() + 1 - i %>월</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="progress progress-md flex-grow-1 mr-4">                            
                          <div class="progress-bar bg-inf0" role="progressbar" style="width: <%= month_price[i]/100 %>%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                          <p class="mb-0"><%= month_price[i] %></p>
                      </div>
                    </div>  
                    <% } %>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
              <div class="template-demo">
                <button type="button" class="btn btn-primary" onclick="location.href='/salespage'">전체 조회</button>
                <button type="button" class="btn btn-secondary"onclick="location.href='/salespage/wol'">월별 조회</button>
                <button type="button" class="btn btn-primary" onclick="location.href='/salespage/menu'">메뉴별 조회</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>