<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>5성매장관리</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="css/popup.css" />
    <link rel="stylesheet" href="vendors/feather/feather.css" />
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="vendors/datatables.net-bs4/dataTables.bootstrap4.css"
    />
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="js/select.dataTables.min.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
    <script
      src="https://kit.fontawesome.com/55b918ee5b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('navbar.html') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include('sidebar.html') %>

        <!-- partial -->
        <!-- partial -->

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">주문내역</h3>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <% if(datas.length === 0) { %>
                    <div>주문 내역이 없습니다.</div>
                    <%} else { %>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr style="text-align: center">
                            <th>재고명</th>
                            <th>주문 수량</th>
                            <th>결제 금액</th>
                            <th>납품 업체</th>
                            <th>업체 번호</th>
                            <th>
                              <!--stock_name: String
                            stock_quantity: Number,
                            order_company: String,
                          order_price: Number
                          order_unit: String,
                        -->
                            </th>
                          </tr>
                        </thead>
                        <% datas.forEach(function(data) { %>
                        <tbody>
                          <tr class="stock-info" style="text-align: center">
                            <td style="display: none"><%=data._id %></td>
                            <td><%= data.stock_name %></td>
                            <td>
                              <span class="total"
                                ><%=`${data.stock_order.order_unit *
                                data.stock_order.order_quantity}`%></span
                              >
                              <span><%=`(${data.stock_type})`%></span>
                              %>
                            </td>
                            <td>
                              <%=`${data.stock_order.order_price *
                              data.stock_order.order_quantity}원` %>
                            </td>
                            <td><%= data.stock_order.order_company%></td>
                            <td><%= data.stock_order.order_phone %></td>
                            <td>
                              <button
                                type="submit"
                                class="btn trigger"
                                data-toggle="modal"
                                data-target="#defaultModal"
                                style="background-color: #b4ace2"
                              >
                                구매확정
                              </button>
                            </td>
                          </tr>
                        </tbody>
                        <% }) %>
                      </table>
                    </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row float-sm-right mr-3">
              <button
                type="button"
                class="btn btn-outline-primary btn-sm"
                onclick="location.href='/stockpage/'"
              >
                뒤로
              </button>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div
              class="
                d-sm-flex
                justify-content-center justify-content-sm-between
              "
            >
              <span
                class="
                  text-muted text-center text-sm-left
                  d-block d-sm-inline-block
                "
                >Copyright © 2021. Premium
                <a href="https://www.bootstrapdash.com/" target="_blank"
                  >Bootstrap admin template</a
                >
                from BootstrapDash. All rights reserved.</span
              >
              <span
                class="
                  float-none float-sm-right
                  d-block
                  mt-1 mt-sm-0
                  text-center
                "
                >Hand-crafted & made with
                <i class="ti-heart text-danger ml-1"></i
              ></span>
            </div>
            <div
              class="
                d-sm-flex
                justify-content-center justify-content-sm-between
              "
            >
              <span
                class="
                  text-muted text-center text-sm-left
                  d-block d-sm-inline-block
                "
                >Distributed by
                <a href="https://www.themewagon.com/" target="_blank"
                  >Themewagon</a
                ></span
              >
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- modal  -->
    <div
      class="modal fade"
      id="defaultModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="info-sum">품목 : 수량</p>
            <p>구매확정 하시겠습니까?</p>
          </div>
          <form
            method="post"
            action="/stockpage/confirm"
            style="width: 100%; margin: 0px 10px"
          >
            <div class="modal-footer">
              <input style="display: none" name="stock_id" class="stock-id" />
              <input
                style="display: none"
                name="order_quantity"
                class="order-quantity"
              />
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                취소
              </button>
              <button type="submit" class="btn btn-primary">확인</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- modal  -->

    <script>
      const modal = document.querySelector('#defaultModal'); // modal 창
      const modalTriggers = document.querySelectorAll('.trigger'); // 구매확정 버튼
      const infos = document.querySelectorAll('.stock-info'); // 재고 정보
      const sum = document.querySelector('.info-sum');

      modalTriggers.forEach((trigger, index) => {
        trigger.addEventListener('click', () => {
          const item = infos[index];
          modal.querySelector('.stock-id').value = item.cells[0].innerHTML;
          modal.querySelector('.order-quantity').value = parseInt(
            item.cells[2].querySelector('.total').innerText
          );
          sum.innerHTML = `[ ${item.cells[1].innerHTML} : ${
            item.cells[2].querySelector('.total').innerText
          } ]`;
        });
      });
    </script>
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <script src="vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <script src="js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>
